[Unit]
Description=Deadeye Vision System

[Service]
Type=simple
Environment=SNAPSHOT_DIR=/tmp/deadeye DEADEYE_CONF=/etc/deadeye/deadeye.toml
ExecStartPre=-/bin/mkdir --parents --mode=0777 ${SNAPSHOT_DIR}
ExecStart=/usr/local/sbin/deadeye
Nice=-20
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
